* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --border-radius: 5px;
  --accent2: #ff5722;
}

:root {
  --bg1: rgb(245, 245, 245);
  --bg2: rgb(232, 232, 232);
  --accent1: rgb(13, 13, 13);
  --neutral: rgb(121, 121, 121);
}

:root {
  --bg2: rgb(22, 22, 22);
  --bg1: rgb(38, 38, 38);
  --accent1: rgb(255, 255, 255);
  --neutral: rgb(122, 122, 122);
}

html {
  font-size: 16px;
}

body {
  background-color: var(--bg2);
  color: var(--accent1);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
  padding: 5rem 1rem 1rem;
}

.asterisk {
  color: darkred;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: 600;
}

hr {
  border: none;
  border-bottom: 1px solid var(--neutral);
  margin: 0.5rem 0;
}

@media (min-width: 768px) {
  main {
    padding: 5rem 2rem 2rem;
  }
}

@media (min-width: 1024px) {
  main {
    padding: 5rem 3rem 3rem;
  }
}
