.container {
  position: relative;
  width: 100%;
  min-width: 10rem;
  min-height: 2.5rem;
  border-radius: var(--border-radius);
  background-color: var(--bg2);
  color: var(--accent1);
  padding: 0.5rem;
  display: flex;
  gap: 0.5rem;
  border: var(--border);
}

.container:focus {
  outline: 1px solid var(--accent1);
}

.value {
  flex-grow: 1;
  line-height: 1.8em;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.option-badge {
  background-color: var(--bg2);
  color: var(--accent1);
  border: 1px solid var(--accent1);
  border-radius: var(--border-radius);
  padding: 0.3em;
  align-self: center;
  cursor: pointer;
}

.remove-btn {
  color: var(--neutral);
  margin-left: 0.3em;
}

.placeholder {
  color: var(--neutral);
  font-size: 0.9rem;
  margin-bottom: 0.3em;
}

.clear-btn {
  background: none;
  border: none;
  outline: none;
  color: var(--neutral);
  cursor: pointer;
  padding: 0;
  align-self: center;
  font-size: 1rem;
  scale: 150%;
}

.clear-btn:hover {
  color: var(--accent1);
}

.divider {
  background-color: var(--neutral);
  align-self: stretch;
  width: 0.05em;
}

.options {
  list-style: none;
  display: none;
  max-height: 10rem;
  overflow: auto;
  border-radius: var(--border-radius);
  border: 1px solid var(--accent1);

  background-color: var(--bg2);
  position: absolute;
  width: calc(100% + 2px);
  left: -1px;
  top: calc(100% + 4px);
  z-index: 1000;
}

.options.show {
  display: block;
}

.option {
  padding: 0.5em;
  cursor: pointer;
  font-size: 1rem;
}

.option.selected {
  background-color: var(--bg1);
  color: var(--accent2);
}

.option:hover {
  background-color: var(--accent2);
  color: var(--accent1);
}

.options::-webkit-scrollbar {
  width: 10px;
  height: 100%;
}

.options::-webkit-scrollbar-thumb {
  background-color: var(--neutral);
  border-radius: 5px;
  cursor: pointer;
}

.options::-webkit-scrollbar-button {
  height: 0px;
}
