/* loadMore.module.css */
.wrapper {
  text-align: center;
  margin: 1rem 0;
}

.button {
  background-color: var(--bg1);
  border: none;
  border-radius: var(--border-radius);
  color: var(--accent1);
  display: flex;
  gap: 0.3rem;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  margin: 0 auto;
}

.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.error {
  color: red;
  margin-bottom: 0.5rem;
}

.done {
  color: #777;
  font-size: 0.9rem;
  text-align: center;
}
