.form {
  position: relative;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-content: center;
  max-width: 22em;
  width: 100%;
  margin: 4rem auto 6rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--bg1);
}

.heading {
  margin-bottom: 0.5rem;
  color: var(--accent2);
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.label {
  color: var(--neutral);
  font-size: 0.9rem;
}

.input {
  padding: 0.5rem;
  border-radius: 0.3rem;
  background-color: var(--bg2);
  border: none;
  color: var(--accent1);
  font-size: 1rem;
  height: 2.5em;
  outline: none;
}

.input::placeholder {
  opacity: 0;
}

.input:focus,
.input:focus-within {
  outline: 1px solid var(--accent1);
}

.close-btn {
  position: absolute;
  top: -15px;
  right: -15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg2);
  border: 1px solid grey;
  cursor: pointer;
  color: grey;
  border-radius: 50%;
}

.close-btn:hover {
  color: var(--accent2);
}

.submit-btn {
  background: rgb(187, 67, 44);
  margin: 1rem 0;
  border: none;
  border-radius: var(--border-radius);
  color: rgb(255, 255, 255);
  padding: 0.6rem;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  justify-content: center;
}

.submit-btn:hover {
  background-color: rgb(219, 89, 28);
  cursor: pointer;
}

.submit-btn:disabled,
.submit-btn:disabled:hover {
  background-color: var(--neutral);
  color: white;
  cursor: not-allowed;
}

.successContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
