.author {
  position: relative;
  background-color: var(--bg1);
  border-radius: var(--border-radius);
  padding: 1rem;
  width: clamp(380px, 100%, 800px);
  display: flex;
  border: 1px solid rgb(47, 47, 47);
}

.photo {
  background: url('../../assets/img-placeholder.svg') center / cover no-repeat;
  width: 100px;
  height: 100px;
  margin-right: 1rem;
  overflow: hidden;
  position: relative;
  border-radius: 999px;
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  flex-grow: 1;
}

.name {
  font-size: 1.2rem;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  word-break: break-word;
  overflow: hidden;
}

.name > a {
  text-decoration: none;
  color: var(--accent1);
}

.name > a:hover {
  color: var(--accent2);
}

.fave-icon {
  color: gold;
  font-size: 1.2rem;
  line-height: 1.2rem;
  top: 0.3rem;
  left: 0.3rem;
}

.fave-btn {
  background: var(--bg1);
  border: 1px solid var(--neutral);
  color: var(--neutral);
  font-size: 0.9rem;
  border-radius: var(--border-radius);
  padding: 0.3rem 0.5rem;
  width: fit-content;
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
  transition: all 0.2s;
}

.fave-btn:hover {
  color: var(--accent1);
  border: 1px solid var(--accent1);
}

.country {
  color: var(--neutral);
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.options-btn {
  border: none;
  border-radius: 999px;
  cursor: pointer;
  background-color: transparent;
  color: var(--neutral);
  font-size: 1.5rem;
  height: 2rem;
  width: 2rem;
  margin-left: auto;
  transition: all 0.3s ease;
}

.options-btn:hover {
  background-color: var(--bg2);
  color: var(--accent1);
}

.dropdown {
  position: absolute;
  top: 3rem;
  right: 1rem;
  background-color: var(--bg1);
  border-radius: var(--border-radius);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  z-index: 999;

  width: 10rem;

  color: var(--accent1);
  box-shadow: black 0px 0px 10px 0px;
}

.options-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

.option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: var(--accent1);
  padding: 0.5em 0.8em;
  border-radius: var(--border-radius);

  cursor: pointer;
  /*   transition: all 0.2s ease-in-out; */
}

.option:hover {
  background-color: var(--bg2);
}

.link {
  text-decoration: none;
}
