header {
  background: var(--bg1);
  position: fixed;
  z-index: 10000;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  height: 3.5rem;

  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid var(--accent2);
}

.link {
  text-decoration: none;
  color: var(--accent1);
  border-bottom: 2px solid var(--bg1);
  font-size: 1.1rem;
  line-height: 1.7rem;
  transition: all 0.3s ease;
}
h1 .link {
  font-size: 2rem;
  text-decoration: none;
  color: var(--accent2);
  font-weight: bold;
}
header > .link:hover {
  color: var(--accent2);
  border-bottom: 2px solid var(--accent2);
}

.button1 {
  background-color: rgb(45, 73, 101);
  text-decoration: none;
  color: white;
  padding: 0.4em 0.6em;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button1:hover {
  background-color: rgb(64, 95, 125);
}

.button1:active {
  transform: scale(0.95);
}
