header {
  background: var(--bg2);
  position: fixed;
  z-index: 10000;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  height: 3.5rem;

  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid var(--accent2);

  min-width: 0;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  margin-left: auto;
}

.link {
  text-decoration: none;
  color: var(--accent1);
  border-bottom: 2px solid var(--bg2);
  font-size: 1.1rem;
  line-height: 1.7rem;
  transition: all 0.3s ease;
}
h1 .link {
  font-size: 2rem;
  text-decoration: none;
  color: var(--accent2);
  font-weight: bold;
  justify-items: flex-start;
}
.nav > .link:hover {
  color: var(--accent2);
  border-bottom: 2px solid var(--accent2);
}

.login-buttons {
  padding-left: 1rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  border-left: 1px solid var(--neutral);
}

.button {
  text-decoration: none;
  color: var(--accent1);
  padding: 0.4em 0.6em;
  border: none;
  border-radius: var(--border-radius);
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.login-btn {
  background-color: var(--accent1);
  color: var(--bg1);
}

.register-btn {
  color: var(--accent1);
  border: 1px solid var(--accent1);
}

.login-btn:hover {
  color: var(--accent1);
  background-color: var(--accent2);
}

.register-btn:hover {
  border: 1px solid var(--accent2);
  color: var(--accent2);
}
