.container {
  width: clamp(380px, 100%, 800px);
  margin: 0 auto;
}

.search {
  position: relative;
  height: 2rem;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 30rem;
  flex: 1;
  margin: 1.5rem 0;
}

.search-icon {
  position: absolute;
  left: 0.5rem;
  display: flex;
  align-items: center;
}

.input {
  width: 100%;

  background-color: var(--bg2);
  color: var(--accent1);
  padding: 0.5rem 2rem;
  border-radius: 999px;
  border: 1px solid var(--neutral);
}

.input:focus {
  outline: 1px solid var(--accent1);
  border: 1px solid var(--accent1);
}

.clear-input-btn {
  position: absolute;
  right: 0.7rem;
  background: none;
  font-size: 1.5rem;
  color: var(--neutral);
  border: none;
  cursor: pointer;
}

.clear-input-btn:hover {
  color: var(--accent1);
}
