.form {
  position: relative;
  margin: 4rem auto 6rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 0.5em;
  width: fit-content;
  background-color: var(--bg1);
  border-radius: var(--border-radius);
  padding: 1em;
}

.title {
  font-size: 2rem;
  color: var(--accent2);
  text-align: center;
  margin-bottom: 0.5em;
}

.close-btn {
  position: absolute;
  top: -15px;
  right: -15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg2);
  border: 1px solid grey;
  cursor: pointer;
  color: grey;
  border-radius: 999px;
}

.close-btn:hover {
  color: var(--accent2);
}

.btn {
  background: rgb(187, 67, 44);
  margin: 1em 0;
  border: none;
  border-radius: var(--border-radius);
  color: rgb(255, 255, 255);
  padding: 0.6rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn:hover {
  background-color: rgb(219, 89, 28);
  cursor: pointer;
}

.btn:disabled,
.btn:disabled:hover {
  background-color: var(--neutral);

  color: white;
  cursor: not-allowed;
}

.spinner {
  width: 1em;
  height: 1em;
  border: 2px solid #fff;
  border-bottom-color: transparent;
  border-radius: 999px;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.successContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.checkbox {
  margin-right: 1em;
}

.text {
  font-size: 0.9rem;
  color: var(--accent1);
  text-align: center;
}

.link {
  color: rgb(69, 122, 162);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
