/* .loader {
  width: 40px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #ffffff 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
} */

/* HTML: <div class="loader"></div> */
.loader {
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
}
@keyframes l5 {
  0% {
    box-shadow: 20px 0 #ffffff, -20px 0 rgba(255, 255, 255, 0.133);
    background: #ffffff;
  }
  33% {
    box-shadow: 20px 0 #ffffff, -20px 0 rgba(255, 255, 255, 0.133);
    background: rgba(255, 255, 255, 0.133);
  }
  66% {
    box-shadow: 20px 0 rgba(255, 255, 255, 0.133), -20px 0 #ffffff;
    background: rgba(255, 255, 255, 0.133);
  }
  100% {
    box-shadow: 20px 0 rgba(255, 255, 255, 0.133), -20px 0 #ffffff;
    background: #ffffff;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
